<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
</head>
<body style="background-color:bisque; color:blueviolet">
    <h1 style="color:blue">Welcome to gitPub</h1>
   
         <ul>
        <% for(let i = 0; i < drinks.length; i++){ %>

<!-- <li>Name: <%= drinks[i].name.charAt(0).toUpperCase() + drinks[i].name.slice(1) %>, Price: <%= drinks[i].price %></li> -->
 
<li><a href="/drink/<%= i %>"><%= drinks[i].name %></a></li>
        <% } %>
    </ul>
</body>
</html> 